body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 73px;
    /* Height of navbar */
    height: calc(100vh - 73px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #113955;
    box-shadow: 4px 5px 4px 0 rgba(0, 0, 0, 0.05);
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    /* color:; */
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 1.09vw;
    padding-left: 31px;
    padding-right: 31px;
    padding: 18px 31px 21px 31px;
    vertical-align: top;
    color: #e5e5e5;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    background-color: #113955;
    box-shadow: 4px 5px 4px 0 rgba(0, 0, 0, 0.05);
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #00bfa5;
    background-color: #08283f;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-left {
    padding-top: .90rem;
    padding-bottom: .75rem;
    height: 73px;
    background-image: linear-gradient(40deg, #fd7846, #fe3961 71%, #ff0776) !important;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

a.navbar-left:hover {
    text-decoration: none;
    color: white;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #08283f;
    margin-left: 20px;
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

/* new styles */

.logo-nekso {
    width: 6.3vw;
    min-width: 63px;
}
