
#createForm label {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.btn-register {
    width: 150px;
    height: 44px;
    border-radius: 4px;
    background-color: #08283f;
    font-family: Raleway;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
