html,
body {
    height: 100%;
    background-image: linear-gradient(40deg, #fd7846, #fe3961 71%, #ff0776);
}

body {
    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    */
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.logo-nekso {
    text-align: center;
    padding-bottom: 35px;
}

.card {
    border-radius: 8px;
}

.sign-in-btn {
    border-radius: 4px;
    background-color: #00bfa5;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #ffffff;
    height: 44px;
    margin-bottom: 12px;
}

form label {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}

.sign-in-text {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e676e;
}

.forgot-pass-text {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #08283f;
    text-decoration: none;
}

.forgot-margen {
    margin-top: 20px;
    margin-bottom: 20px;
}

#loginForm .form-control {
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 24px;
}

#recoverForm input[type="email"],
#loginForm input[type="password"]{
    margin-bottom: auto;
}

#recoverForm label{
    margin-top: 10px;
}

#recoverForm button{
    margin-top: 20px;
}

.go-back {
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #08283f;
    text-decoration: none !important;
}
span {
    width: 100%;
    display: inline-block;
}

span.align-right {
    text-align: right;
}

.container {
    width: 100%;
    max-width: 429px;
}

.input-error {
    border: 1px solid #e74c3c;
}

.error-label {
    color: #e74c3c;
}

.error-login {
    margin-top: 12px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e74c3c;
}