.btn-new-driver {
    min-width: 12.96vw;
    min-height: 44px;
    border-radius: 4px;
    background-color: #08283f;
    font-family: Raleway;
    /* font-size: 1.25vw; */
    /* font-size: 16px; */
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 28px;
}

.welcome-dash {
    font-family: Raleway;
    font-size: 36px;
    /* font-size: 1.87vw; */
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #08283f;
    /* margin-bottom: 1.56vw; */
}

.description-dash {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #08283f;
}



.card-block {
    margin: 35px;
}

.number-font {
    font-family: Roboto;
    /* font-size: 5vw; */
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #08283f;
}

.card-text-desc {
    margin: auto;
    font-family: Raleway;
    font-size: 20px;
    /* font-size: 30px; */
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #08283f;
}

.small-card-text-width {
    /* min-width: 8.82vw; */
}

.img-size {
    /* width: 80px; */
    /* height: 80px; */
    min-width: 6.25vw;

    /* height: 6.25vh; */
}